.dot,
.dot-experience {
    background-color: var(--color-highlight);
    border-radius: 50%;
    animation: pulseDot 1.5s ease-in-out infinite;
}

.dot {
    width: 12px;
    height: 12px;
}

.dot-experience {
    width: 9px;
    height: 9px;
}

@keyframes pulseDot {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }
}