@import 'tailwindcss';

@theme {
    --color-background: #131515;
    --color-background-footer: #161616;
    --color-letter: #fefefd;
    --color-light-letter: #b0b3b3;
    --color-highlight: #c1121f;
    --color-neon: #ff002b;
    --color-highlight-darker: #660000;
    --color-gray: #6c757d;

    --font-funnel: var(--font-funnel);
    --font-instrument: var(--font-instrument);
    --font-dm-sans: var(--font-dm-sans);
}